* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#content {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 600px;
}

/* Header */

.header {
    color: #FFFFFF;
    text-align: center;
    padding: 36px 36px 24px 36px;
    background-color: #393f4d;
}

.header h1 {
    margin-bottom: 24px;
}

button {
    font-size: 20px;
    font-weight: bold;

    color: #FFFFFF;
    background-color: inherit;

    border: none;
    border-radius: 3px;

    padding-bottom: 6px;
    cursor: pointer;

    width: 100px;
}

/* Footer */

.footer {
    margin-top: auto;
    color: #FFFFFF;
    text-align: center;
    padding: 24px;
    background-color: #393f4d;
}

/* Main Div */ 

.main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 36px 0;
}

.card {
    width: min(900px, 60%);
    min-height: 500px;
    padding: 48px;
    background-color: #e2e7ec;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card p {
    margin-bottom: 24px;
    font-size: 24px;
}

/* Home page */

.home-img-container {
    display: flex;
    justify-content: center;
}

.home-img-container img {
    width: 50%;
}

/* Menu Page */

.menu-img-container img {
    max-width: 100%;
}
